<div class="card bg-xtradark">
    <div class="card-header py-1 m-0" id="heading{{dataValues.id}}">
        <div class="mb-0 pr-1 row">
            <div class="col-fluid vote-div">
                <div class="d-flex justify-content-around">
                    <a href="#" class="fa fa-angle-up fa-2x text-bright text-decoration-none icon-vote" aria-hidden="true"></a>
                </div>
                <div class="upvotes text-center font-subtitle">
                    {{#if dataValues.upvotes}}
                        {{dataValues.upvotes}}
                    {{else}}
                    0
                    {{/if}}
                </div>
                <div class="d-flex justify-content-around">
                    <a href="#" class="fa fa-angle-down fa-2x text-bright text-decoration-none icon-vote" aria-hidden="true"></a>
                </div>
            </div>
            <div class="col btn text-left text-white ml-2" type="button" data-toggle="collapse"
                data-target="#collapse{{dataValues.id}}" aria-expanded="true" aria-controls="collapse{{dataValues.id}}">
                {{!-- THIS WILL FAIL GIVEN A LONG ENOUGH NAME, FIX --}}
                <h2 class="m-0 font-title text-truncate">{{dataValues.title}}
                    <span class="font-subtitle lead">Authored by: </span>
                    <span class="font-subtitle lead text-bright author-link">{{User.dataValues.username}}</span>
                </h2>
                <div class="font-comment">Great listening for a rainy day, you'll really lve the fun!</div>
            </div>
        </div>
    </div>
    <div id="collapse{{dataValues.id}}" class="collapse" aria-labelledby="heading{{dataValues.id}}"
        data-parent="#accordionExample">
        <div class="card-body">
            <li>{{dataValues.string}}</li>
        </div>
    </div>
</div>